# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\laragon\www\learning_management_system_in_django_reactJs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
